<a href="https://colab.research.google.com/github/sinara08/Campusx/blob/main/numpy_and_pandas/Tasks/Groupby_Pandas_session_19_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Questions based on Titanic Dataset:**

To read the dataset as csv, use the below code:

```python
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)
```

In [48]:
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

### `Q-1:` Using `groupby` make groups using the `"Pclass"` column and find out the average age and total number of missing values in the `"Age"` column for every group.

In [9]:
# code here
avg_age = titanic_df.groupby('Pclass')['Age'].mean()
miss_age = titanic_df[titanic_df.Age.isnull()].groupby('Pclass').size()
print(avg_age,miss_age )

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64 Pclass
1     30
2     11
3    136
dtype: int64

### `Q-2:` Using `groupby` make groups using the `"Pclass"` column and fill every group's `"Embarked"` column's missing values with the mode value of that group. After that, print every group's `"Embarked"` column's value counts in ascending order.

In [54]:
# code here
titanic_df[titanic_df.Embarked.isnull()].groupby('Pclass').size()
titanic_df['Embarked'] = titanic_df.groupby('Pclass')['Embarked'].apply(lambda x:x.fillna(x.mode()[0]))
titanic_df.Embarked.value_counts().sort_values()

Q     77
C    168
S    646
Name: Embarked, dtype: int64

### `Q-3:` Make groups based on `"Embarked"` column. And for each of this embarked group, make another group based on `"Pclass"` and find out the average fare (round off up to 2 decimal places) for each "Pclass" for each group of "Embarked".

**Sample Output:**

```bash
{'C': {1: 105, 2: 25, 3: 11},
 'Q': {1: 90, 2: 12, 3: 11},
 'S': {1: 70, 2: 20, 3: 15}}
```

In [71]:
# code here
Emb_grp = titanic_df.groupby(['Embarked','Pclass'])
Emb_grp['Fare'].mean().to_dict()
#Emb_grp['Pclass']
#titanic_df
Emb_grp1 = titanic_df.groupby('Embarked')
rslt = {}
for group, data in Emb_grp1:
  #print(data.groupby('Pclass')['Fare'].mean().to_dict())
  rslt[group] = data.groupby('Pclass')['Fare'].mean().round(decimals = 2).to_dict()

rslt

{'C': {1: 104.72, 2: 25.36, 3: 11.21},
 'Q': {1: 90.0, 2: 12.35, 3: 11.18},
 'S': {1: 70.51, 2: 20.33, 3: 14.64}}

## **Questions Based on Fifa Worldcup - 2022 Dataset:**

You can read the dataset by using the below sample code

```python
import pandas as pd

fifa_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")
```

In [2]:
import pandas as pd

fifa_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")

In [3]:
fifa_df

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,...,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,...,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,...,15,4,484,419,26,10,3,17,1,3
2,3,2,England,Iran,B,6,69,6,0,6,...,9,2,810,733,29,9,8,16,0,3
3,4,2,Iran,England,B,2,20,2,0,1,...,14,2,232,156,11,3,0,10,1,0
4,5,3,Senegal,Netherlands,A,0,39,0,0,0,...,13,2,391,326,22,8,6,14,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,124,62,Morocco,Fram,F,0,55,0,0,0,...,11,3,583,518,22,1,3,15,0,0
124,125,63,Croatia,Morocco,F,2,45,2,0,2,...,13,2,491,430,21,3,6,13,0,3
125,126,63,Morocco,Croatia,F,1,45,1,0,0,...,11,2,494,428,20,5,3,15,0,0
126,127,64,Argentina,France,C,3,46,3,0,1,...,26,4,648,544,20,4,6,22,5,3
127,128,64,France,Argentina,D,3,40,3,0,1,...,19,4,516,419,24,3,5,28,4,0

### `Q-4:` Perform `groupby` based on the `"Team"` column and then perform Z Normalization on top of the below columns of each group:
1. Passes
2. Passes Completed
3. Attempted Line Breaks
4. Completed Line Breaks

You have to make a python function named `z_normalization` which takes two arguments:

1. *group:* Every group that you have created
2. *cols_to_perform:* This parameter takes a list of columns on which you have to perform the Z-Normalization.

For this problem, you have to use th `apply()` method.

$\Large Z \ - \ Normalization = \frac{X_i - \mu}{std} $

After that find out the below values for each group:
- minimum "Passess"
- maximum "Passess"
- minimum "Yellow Cards"
- maximum "Yellow cards"
- average "Yellow Cards"
- maximum "Attempted Line Breaks"
- minimum "Attempted Line Breaks"
- standardard deviation of "Attempted Line Breaks"
- average Possession

In [62]:
def z_normalize(group, L):
  #print('='*40)
  #print(group)
  #print('*'*40)
  #print(group[col].mean(), group[col].std())
  for col in L:
    group['zscore_'+col] = (group[col] - group[col].mean())/group[col].std()
  return group

In [65]:
fifa_df1 = fifa_df.copy()
fifa_df1.columns

Index(['Sl. No', 'Match No.', 'Team', 'Against', 'Group', 'Goal',
       'Possession (%)', 'Inside Penalty Area', 'Outside Penalty Area',
       'Assists', 'Total Attempts', 'On Target', 'Off Target',
       'Target in Penalty', 'Target from Outside', 'Left Channel',
       'Left Inside Channel', 'Central Channel', 'Right Inside Channel',
       'Right Channel', 'Receptions MD', 'Receptions D',
       'Attempted Line Breaks', 'Completed Line Breaks',
       'Attempted Defensive Line Breaks', 'Completed Defensive Line Breaks',
       'Yellow Cards', 'Red Cards', 'Fouls Against', 'Offsides', 'Passes',
       'Passes Completed', 'Crosses', 'Crosses Completed', 'Corners',
       'Free Kicks', 'Penalties Scored', 'Pts'],
      dtype='object')

In [66]:
# code here
#def z_normalize(group, col):
L_cols = ['Passes', 'Passes Completed','Attempted Line Breaks','Completed Line Breaks' ]
tm_grp = fifa_df1.groupby('Team')
df = pd.DataFrame(columns=fifa_df1.columns)



new_df = tm_grp.apply(z_normalize, L_cols)
#for group,data in tm_grp:
 # df.append(data)
new_df
#min_passes = 
#min_passes

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,...,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts,zscore_Passes,zscore_Passes Completed,zscore_Attempted Line Breaks,zscore_Completed Line Breaks
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,...,10,5,1,19,0,0,0.462725,0.410365,-0.815368,-1.153113
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,...,26,10,3,17,1,3,1.085876,1.123095,-0.039193,0.817624
2,3,2,England,Iran,B,6,69,6,0,6,...,29,9,8,16,0,3,1.705844,1.718012,-1.172641,-1.334904
3,4,2,Iran,England,B,2,20,2,0,1,...,11,3,0,10,1,0,-0.820695,-0.761575,-1.152297,-1.147648
4,5,3,Senegal,Netherlands,A,0,39,0,0,0,...,22,8,6,14,0,0,-0.020934,0.032483,-1.077420,-0.355371
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,124,62,Morocco,Fram,F,0,55,0,0,0,...,22,1,3,15,0,0,1.662218,1.680153,-0.496715,0.899236
124,125,63,Croatia,Morocco,F,2,45,2,0,2,...,21,3,6,13,0,3,-1.152198,-1.103970,-0.555702,-0.464907
125,126,63,Morocco,Croatia,F,1,45,1,0,0,...,20,5,3,15,0,0,0.896270,0.909216,0.349043,1.079083
126,127,64,Argentina,France,C,3,46,3,0,1,...,20,4,6,22,5,3,0.178979,-0.028264,1.757406,1.808140
127,128,64,France,Argentina,D,3,40,3,0,1,...,24,3,5,28,4,0,-0.046643,-0.280190,1.147789,0.169997

In [ ]:
for col in L_cols:
  #print(col)
  fifa_df1['znormalize_'+col] = (fifa_df1[col] - fifa_df1[col].mean())/fifa_df1[col].std()
  #print(tm_grp.get_group('')
fifa_df1

min_passes = tm_grp['Passes'].min()
max_passes = tm_grp['Passes'].max()
min_Yellow_Cards = tm_grp['Yellow Cards'].min()
max_Yellow_Cards = tm_grp['Yellow Cards'].max()
avg_Yellow_Cards = tm_grp['Yellow Cards'].mean()
min_Attempted_Line_Breaks = tm_grp['Attempted Line Breaks'].min()
max_Attempted_Line_Breaks = tm_grp['Attempted Line Breaks'].max()
avg_Attempted_Line_Breaks = tm_grp['Attempted Line Breaks'].std()
avg_Possession = tm_grp['Possession (%)'].mean()
print(min_passes,'\n\n',max_passes,'\n\n',min_Yellow_Cards,'\n\n',max_Yellow_Cards,'\n\n',avg_Yellow_Cards,'\n\n',min_Attempted_Line_Breaks ,'\n\n' ,max_Attempted_Line_Breaks,
      '\n\n',avg_Attempted_Line_Breaks,'\n\n',avg_Possession)

In [4]:
import pandas as pd
ipl=pd.read_csv('https://drive.google.com/file/d/1-kvv_9KCSAFWcrhS9WgTxSrURkRh6GNt/view?usp=share_link')

## **Questions on IPL wala dataset**

ball by ball dataset - https://drive.google.com/file/d/1-kvv_9KCSAFWcrhS9WgTxSrURkRh6GNt/view?usp=share_link

###`Q-5:` Find batsman in below category-
* Highest score while chasing
* Best Strike rate while chasing and have faced 100+ balls


> Chasing mean team batting in second inning

In [5]:
# code here
ipl

,"<!DOCTYPE html><html><head><meta name=""google"" content=""notranslate""><meta http-equiv=""X-UA-Compatible"" content=""IE=edge;""><style nonce=""3C7rpZ7G36tVRiES6AO60Q"">@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzc.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc9.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc9.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc9.ttf)format('truetype');}</style><meta name=""referrer"" content=""origin""><title>ipl_deliveries.csv - Google Drive</title><meta property=""og:title"" content=""ipl_deliveries.csv""><meta property=""og:type"" content=""article""><meta property=""og:site_name"" content=""Google Docs""><meta property=""og:url"" content=""https://drive.google.com/file/d/1-kvv_9KCSAFWcrhS9WgTxSrURkRh6GNt/view?usp=share_link&amp;usp=embed_facebook""><link rel=""shortcut icon"" href=""https://ssl.gstatic.com/images/branding/product/1x/drive_2020q4_32dp.png""><link rel=""stylesheet"" href=""https://fonts.googleapis.com/css?family=Google+Sans:300",400,500,"700"" nonce=""3C7rpZ7G36tVRiES6AO60Q""><link rel=""stylesheet"" href=""https://www.gstatic.com/_/apps-fileview/_/ss/k=apps-fileview.v.YHTqLR9V3wg.L.X.O/am=ABA/d=0/rs=AO0039sl7iRPH3EonAtIzpE8z8MvCVWSRw"" nonce=""3C7rpZ7G36tVRiES6AO60Q""><script nonce=""yNvLuy3b_RIWTe9fGtE2CA"">_docs_flag_initialData={""docs-ails"":""docs_cold""","docs-fwds:""docs_sdf""","docs-crs:""docs_crs_nfd""",docs-l2t:0,docs-shdn:0,"docs-tfh:""""",info_params:{},...,0.81,0.82,1.58,0.83,0].8,[[null.2,null.202,null.203,"https://www.gstatic.com/og/_/js/k=og.qtm.en_US.OsyHHRpFvlk.es5.O/rt=j/m=qabr,q_dnp,qapid/exm=qaaw,qadd,qaid,qein,qhaw,qhbr,qhch,qhga,qhid,qhin,qhpr/d=1/ed=1/rs=AA2YrTvROJRIUHNXRGvxagmQNrIBf8h-LQ]]]]",};this.gbar_=this.gbar_||{};(function(_){var window=this;
0,try{,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,/*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Copyright The Closure Library Authors.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SPDX-License-Identifier: Apache-2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,*/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,(function(){var a=_.ee();if(_.E(a,18))ck();else{var b=_.D(a,"19)||0;window.addEventListener(""load""",function(){window.setTimeout(ck,b)})}})();,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,}catch(e){_._DumpException(e)},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,})(this.gbar_);,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,// Google Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,"</script><script id=""base-js"" async type=""text...","wb"" nonce=""yNvLuy3b_RIWTe9fGtE2CA""></script></...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
ipl.columns

Index(['<!DOCTYPE html><html><head><meta name="google" content="notranslate"><meta http-equiv="X-UA-Compatible" content="IE=edge;"><style nonce="3C7rpZ7G36tVRiES6AO60Q">@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzc.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc9.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc9.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc9.ttf)format('truetype');}</style><meta name="referrer" content="origin"><title>ipl_deliveries.csv - Google Drive</title><meta property="og:title" content="ipl_deliveries.csv"><meta property="og:type" content="article"><meta property="og:site_name" content="Google Docs"><meta property="og:url" content="https://drive.google.com/file/d/1-kvv_9KCSAFWcrhS9WgTxSrURkRh6GNt/view?usp=share_link&amp;usp=embed_facebook"><link rel="shortcut icon" href="https://ssl.gstatic.com/images/branding/product/1x/drive_2020q4_32dp.png"><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans:300',
       '400', '500',
       '700" nonce="3C7rpZ7G36tVRiES6AO60Q"><link rel="stylesheet" href="https://www.gstatic.com/_/apps-fileview/_/ss/k=apps-fileview.v.YHTqLR9V3wg.L.X.O/am=ABA/d=0/rs=AO0039sl7iRPH3EonAtIzpE8z8MvCVWSRw" nonce="3C7rpZ7G36tVRiES6AO60Q"><script nonce="yNvLuy3b_RIWTe9fGtE2CA">_docs_flag_initialData={"docs-ails":"docs_cold"',
       'docs-fwds:"docs_sdf"', 'docs-crs:"docs_crs_nfd"', 'docs-l2t:0',
       'docs-shdn:0', 'docs-tfh:""', 'info_params:{}',
       ...
       '0.81', '0.82', '1.58', '0.83', '0].8', '[[null.2', 'null.202',
       'null.203',
       'https://www.gstatic.com/og/_/js/k=og.qtm.en_US.OsyHHRpFvlk.es5.O/rt=j/m=qabr,q_dnp,qapid/exm=qaaw,qadd,qaid,qein,qhaw,qhbr,qhch,qhga,qhid,qhin,qhpr/d=1/ed=1/rs=AA2YrTvROJRIUHNXRGvxagmQNrIBf8h-LQ]]]]',
       '};this.gbar_=this.gbar_||{};(function(_){var window=this;'],
      dtype='object', length=785)

###`Q-6` Most Successful bowler against any batsman. Find that pair of bowler and batsman.
> Most Successful in terms of dissmissal. A bowler who have dissmissed any batsman most no of times. If any two pairs have same no of dissmisal, consider runs conceded by bowler to that batsman. Those who have concede lesser runs is more successful.

In [ ]:
# code here

###`Q-7`: Most successful batting pair in IPL. Batting pair who have scored most runs playing together.

In [ ]:
# code here

###`Q-8:` Make a dataframe for all batting pairs played together.
```
Batsman1 Batsman2 Runs Avg StrikeRate
```

> Just to ease this question you can count wide-balls for strike rate.

In [ ]:
# code here