# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**: 
```
"Data" "Science" "Mentorship" "Program" 
"By" "CampusX"
```
**Output**: 
``` 
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [1]:
print("Data","Science" ,"Mentorship" ,"Program","started", sep='-',end='-' )
print("By", "CampusX",sep='-')

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [2]:
#Assign celcius value to a variable
cel = 20
#Calculate celcius conversion to Farenheit using a formula
far = (cel * 9 / 5) + 32
#Print the final result
print("{0} celcius is converted to {1} farenheit".format(cel,far))

20 celcius is converted to 68.0 farenheit

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [3]:
#Take 2 numbers as input
fnum = int(input("Enter the first number: "))
snum = int(input("Enter the second number: "))
#Print the value of variables before swapping 
print("Before swapping, first number is {0} and second number is {1}".format(fnum,snum))
#swap the number using third variable temp
temp = fnum
fnum = snum
snum = temp
#Print the value of variables after swapping 
print("After swapping, first number is {0} and second number is {1}".format(fnum,snum))

Enter the first number: 23
Enter the second number: 45
Before swapping, first number is 23 and second number is 45
After swapping, first number is 45 and second number is 23

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [6]:
import math
# Enter the coordinates from user
fcoord = input("Enter the first coordinate - x1, y1 (2 numbers with comma seperated): ")
scoord = input("Enter the first coordinate - x2, y2 (2 numbers with comma seperated): ")
# Convert to numbers
x1, y1 = [int(x) for x in fcoord.split(',')]
x2, y2 = [int(x) for x in scoord.split(',')]
# Calculate the euclidean distance using formula
d = math.sqrt(((x2 - x1) ** 2) + ((y2 - y1) ** 2) )
# Display the final result
print("Euclidean distance for the given coordinates is: {0}".format(d))

Enter the first coordinate - x1, y1 (2 numbers with comma seperated): 2,4
Enter the first coordinate - x2, y2 (2 numbers with comma seperated): 5, 10
Euclidean distance for the given coordinates is: 6.708203932499369

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [9]:
#Enter the values for principal, rate of interest and time period
princ = float(input("Enter the principal value: "))
roi = float(input("Enter the Rate of Interest: "))
time = float(input("Enter the time period: "))
#Calculate the value for simple interest
si = princ * roi * time
#Display the output
print("Simple interest for the given principal - {0}, rate of interest - {1} and time period - {2} is {3}".format(princ , roi , time, si))

Enter the principal value: 5000
Enter the Rate of Interest: 2.5
Enter the time period: 5
Simple interest for the given principal - 5000.0, rate of interest - 2.5 and time period - 5.0 is 62500.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [31]:
def countdogs(nlegs, nheads):
  x = int((nlegs - 2 * nheads) / 2)
  return x

#Enter the number of heads and number of legs
nlegs = int(input('Enter the number of legs (Should be an even number >= 2): '))
nheads = int(input('Enter the number of heads (Should be less than number of legs): '))
#Calculate the number of dogs and chicken
x = countdogs(nlegs, nheads)
y = nheads - x

#Display the output
print("Number of dogs are {0} and number of chickens are {1}".format(x, y))

Enter the number of legs (Should be an even number >= 2): 12
Enter the number of heads (Should be less than number of legs): 4
Number of dogs are 2 and number of chickens are 2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [21]:
#Enter the value of n
nnum = int(input("Enter the value of n natural numbers: "))
sum = 0
for x in range(nnum+1):
  sum += (x ** 2)
  

print("Sum of squares of first {0} natural numbers is {1}".format(nnum, sum))

Enter the value of n natural numbers: 6
Sum of squares of first 6 natural numbers is 91

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [22]:
#Enter the first 2 terms of arithematic sequence
fnum = int(input("Enter the first number in arithematic series: "))
snum = int(input("Enter the second number in arithematic series: "))
n = int(input("Enter the value of n: "))
#Calculate the nth term
a1 = fnum
d = snum - fnum
nterm = a1 + (n - 1) * d

#Display the final result
print("{0}th term in the arithematic series is {1}".format(n,nterm))

Enter the first number in arithematic series: 5
Enter the second number in arithematic series: 8
Enter the value of n: 27
27th term in the arithematic series is 83

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [23]:
#Enter the denominator and numerator
nmr = int(input("Enter the value of numerator: "))
dnmr = int(input("Enter the value of denominator: "))
#Calculate the sum
sum = nmr + dnmr
#Display the sum
print("Sum of numerator {0} and denominator {1} is {2}".format(nmr,dnmr, sum))

Enter the value of numerator: 4
Enter the value of denominator: 5
Sum of numerator 4 and denominator 5 is 9

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [26]:
import math
#Enter the width, height and breadth of a tank
tdim = input("Enter the height, width and breadth in the same order by comma seperated: ")

#Enter the height and radius of a glass
gdim = input("Enter the heigh and radius in the same order by comma seperated: ")

H, L, B = [int(x) for x in tdim.split(',')]
h, r = [int(x) for x in gdim.split(',')]

#Find the volume of tank and glass
vtank = H * L * B
pi = math.radians(180)
vglass = pi * r ** 2 * h

#Calculate number of glass of milk
nglass = math.ceil(vtank / vglass)
#Display the final result
print("For the given dimensions,number of glass of milk obtained are: {0} ".format(nglass))

Enter the height, width and breadth in the same order by comma seperated: 20, 20, 20
Enter the heigh and radius in the same order by comma seperated: 3, 1
For the given dimensions,number of glass of milk obtained are: 849